createdAt: "2018-05-06T10:54:02.808Z"
updatedAt: "2018-05-06T10:56:59.397Z"
type: "MARKDOWN_NOTE"
folder: "45b0680f0adbe2a3da40"
title: "- PHP + Laravel -"
content: '''
  <center>
  
  # - PHP + Laravel -
  </center>
  
  ### Cheet Sheet:
  >#### Wypisz zawartość zmiennej jeśli nie wiesz co w niej jest
  >>~~~c
  >>print "<pre>";
  >>print_r($zmienna);
  >>print "</pre>";
  >>~~~
'''
tags: []
isStarred: false
isTrashed: false
