createdAt: "2018-05-22T16:20:20.123Z"
updatedAt: "2018-05-22T16:55:08.818Z"
type: "MARKDOWN_NOTE"
folder: "c96688e4cfbae92b9ea3"
title: "Ajax + Flask = JS Session"
content: '''
  # Ajax + Flask = JS Session
  
  ## HTML
  ### Dodanie/Update sesji
  ```html
  <script>
      setSession("mojaSesja", "To działa");
      console.log("get: " + getSession('mojaSesja'));
  </script>
  ```
  
  ## JavaScript
  ### Dodanie/Update sesji
  ```javascript
  /**
   * Dodanie/Update sesji
   * @param name
   * @param param
   */
  function setSession(name, param) {
      $.ajax({
          method: 'POST',
          url: 'sessionControler',
          async: false,
          data: {
              'action': 'set',
              'name': name,
              'param': param,
          },
          success: function (response) {
              console.log("Dodano sesję: " + name + " = " + response.param)
          },
          error: function (error) {
              console.log("Dodanie sesji nie powiodło się.")
          }
      });
  }
  ```
  ### Pobranie sesji
  ```javascript
  /**
   * Pobranie sesji
   * @param name
   * @returns {string | null}
   */
  function getSession(name) {
          $.ajax({
          method: 'POST',
          url: 'sessionControler',
          async: false,
          data: {
              'action': 'get',
              'name': name,
          },
          success: function (response) {
              console.log("Pobrano sesję: " + name + " = " + response.param);
              localStorage.setItem("param", response.param);
          },
          error: function (error) {
              console.log("Pobranie sesji nie powiodło się.");
          },
      });
      return localStorage.getItem("param");
  }
  ```
  ***
  ## Flask
  ### Dodanie/Update sesji
  ```python
  from flask import Flask, request, session, jsonify
  
  # Dodanie/Update sesji
  
  @app.route('/sessionControler', methods=['POST'])
  def sessionControler():
      print("Wywołano session flask.")
      if request.form.get('action') == 'set':
          name = request.form.get('name')
          param = request.form.get('param')
          session[name] = param
          print("Dodano sesję o nazwie: " + name + " = " + param)
          return jsonify({'param': param})
  
  # Pobranie sesji
  
      if request.form.get('action') == 'get':
          name = request.form.get('name')
          param = session[name]
          print("Pobrano sesję o nazwie: " + name)
          return jsonify({'param': param})
  ```
'''
tags: [
  "ajax"
  "flask"
]
isStarred: false
isTrashed: false
