createdAt: "2018-11-15T14:41:30.990Z"
updatedAt: "2018-11-15T15:34:39.432Z"
type: "MARKDOWN_NOTE"
folder: "45b0680f0adbe2a3da40"
title: "Electron + node.js"
content: '''
  # Electron + node.js
  ## Aplikacje desktopowe na technologii webowej
  ***
  ### Instalacja
  >:warning: Symbol `$` to wiersz w terminalu, nie piszemy tego xd.
  >Node.js ze strony oficjalnej
  >Instalacja electrona (można użyć terminalu gita):
  >```js
  >$ npm i -D electron@latest
  >```
  
  ### Nowy projekt
  >Tworzymy katalog, w którym umieścimy projekt i przechodzimy do niego.
  >Otwieramy w katalogu terminal, po czym wpisujemy:
  >```js
  >$ npm init
  >```
  >Terminal poprosi o nazwę paczki (będzie to nazwa całego projektu) oraz kilka innych informacji jak wersja, czy opis (jeśli jest to projekt niekomercyjny polecam `MIT` czyli open source, podobnie polecam zmienić entry point z index.js na `main.js`, ponieważ odgrywa taką podobną rolę co main z języka C/C++). 
  >
  >Padnie na koniec pytnie czy wszystko ok, jeśli tak wpisujemy `yes` i mamy gotowy plik json.
  >
  >By zainstalować do projektu electrona, wpisujemy w konsolecie:
  >```js
  >$ npm install --save electron
  >```
  >Nasz json się powiększy o dodatkowe informacje, zostanie pobrany również kolejny z informacjami o paczkach, ale ten nas za bardzo nie interesuje.
  >
  >W linii `scripts` tam gdzie `test` robimy modyfikację z tego:
  >```js
  >"scripts": {
  >     "test": "echo \\"Error: no test specified\\" && exit 1"
  >   },
  >```
  >Na to:
  >```js
  >"scripts": {
  >     "start": "electron ."
  >   },
  >```
  >Kolejny krok to storzenie pliku głównego, jeśli nie zmieniłeś jego nazwy we wcześniejszym kroku podczas `init` to jest on zapewne domyslny, czyli `index.js` i taki trzeba stworzyć. Polecałem zmienić nazę na `main.js`, więc taki stworzę ja. 
  >
  >By całość zadziałała musimy zaimportować biblioteki do pliku głównego:
  >```js
  >const electron = require('electron');
  >const url = require('url');
  >const path = require('path');
  >```
  >By stworzyć okno tworzymy obiekty na podstawie zaimportowanego electrona:
  >```js
  >const {app, BrowserWindow} = electron;
  >```
  >Okno zostane wywołane w momencie gdy aplikacja będzie załadowana, a by tak zrobić tworzymy zdarzenie od obiektu `app`:
  >```js
  >app.on('ready', function(){
  >mainWindow = newBrowserWindow({
  >        width: 800, // Startowa szerokość aplikacji
  >        height: 600, // Startowa wysokość aplikacji
  >        frame: false // ta opcja sprawi że znikną ramki (domyślnie true)
  >})
  >})
  >```
  >Wciąż jest to apka pusta, dlatego teraz stworzymy plik `html`, który zbuduje nam wnętrze. Czyli po prostu stwórz plik html o jakiejś nazwie i jakimś kontentem.
  >
  >By załadować owy plik należy dodać do naszego startera informacje o tym, który plik będzie ładowany:
  >```js
  >app.on('ready', function(){
  >mainWindow = newBrowserWindow({
  >        width: 800, // Startowa szerokość aplikacji
  >        height: 600, // Startowa wysokość aplikacji
  >        frame: false // ta opcja sprawi że znikną ramki (domyślnie true)
  >       });
  >mainWindow.loadURL(url.format({
  >       pathname: path.join(__dirname, 'mainWindow.html'),
  >       protocol: 'file',
  >       slashes: true
  >       }));
  >})
  >```
  >I to tyle wstępu, cos tam już działa : )
'''
tags: []
isStarred: false
isTrashed: false
