createdAt: "2018-04-19T15:40:08.960Z"
updatedAt: "2018-05-15T16:30:18.524Z"
type: "MARKDOWN_NOTE"
folder: "45b0680f0adbe2a3da40"
title: "- Tmux -"
content: '''
  <div align="center">
  
  # - Tmux -
  ### For Linux Terminal
  #### Program, który pozwala w jednym terminalu odpalić kilka.
  
  <div align="justify">
  
  ### Cheet Sheet:
  >#### Zacznijmy od tego, że:
  >>       ctrl + b + ...
  >używane jest do wszystkiego.
  >#### Dzielenie okna w poziomie
  >>      ctrl + b + %
  >#### Dzielenie okna w pionie
  >>      ctrl + b + "
  >#### Zamknięcie jednego terminala
  >>      ctrl + b + c
  >#### Przejście po oknach
  >>      ctrl + b + strzałki
'''
tags: [
  "tmux"
  "cheat"
  "linux"
]
isStarred: false
isTrashed: false
