createdAt: "2018-07-05T14:22:47.533Z"
updatedAt: "2018-07-05T14:23:05.912Z"
type: "MARKDOWN_NOTE"
folder: "45b0680f0adbe2a3da40"
title: "HTML WEB STARTER"
content: '''
  # HTML WEB STARTER
  
  ```html
  <!DOCTYPE html>
  <html lang="pl">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="=width=device-width, initial-scale=1.0">
      <title>Pierwsza strona</title>
      <link rel="icon" href="favicon.ico">
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
      <link rel=stylesheet type=text/css href="style.css">
  </head>
  <body>
  <div id="wrapper">
      <header>
  
      </header>
      <nav>
  
      </nav>
      <section>
          <article>
  
          </article>
      </section>
      <footer>
  
      </footer>
  </div>
  </body>
  </html>
  ```
'''
tags: []
isStarred: false
isTrashed: false
