createdAt: "2018-05-18T13:15:45.738Z"
updatedAt: "2018-05-18T13:25:07.024Z"
type: "MARKDOWN_NOTE"
folder: "45b0680f0adbe2a3da40"
title: "Ajax z jquery i flaskiem"
content: '''
  # Ajax z jquery i flaskiem
  
  > ### Do strony używającej ajaxa trzeba podpiąć jquery:
  `<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>`
  #### Dzięki temu zyskamy możliwość poniższego wykożystania ajax'a
  ***
  > ### POST
  ```javascript
  $.post({
              //W url podajemy ścieżkę routingu
              url: 'getData',
              //W data przesyłamy dane
              //Jak widać listy przetworzyłem na string
              data: {
                  'butt' : JSON.stringify(ansList),
                  'prio' : JSON.stringify(priList),
                  'pric' : price,
              },
              //Tu odbieramy odpowiedź jeśli wszystko
              //zakończy się powodzeniem
              success: function (response) {
                  console.log(response);
              },
              //Tu natomiast przeciwnie
              error: function (error) {
                  console.log(error);
              }
          });
  ```
  ***
  > ### Post we Flasku
  ```python
  #Ścieżka routingu do której trafi rządanie od ajax'a
  @app.route('/getData', methods=['POST'])
  def getData():
      #Sposób na odebranie posta
      butt = request.form.get('butt')
      prio = request.form.get('prio')
      pric = request.form.get('pric')
  ```
  
  ***
  > ### Get we Flasku
  ```python
  #Ścieżka routingu do której trafi rządanie od ajax'a
  @app.route('/getData', methods=['GET'])
  def getData():
      #Sposób na odebranie get'a
      butt = request.arg.get('butt')
      prio = request.arg.get('prio')
      pric = request.arg.get('pric')
  ```
'''
tags: [
  "ajax"
  "flask"
]
isStarred: false
isTrashed: false
