createdAt: "2018-04-23T22:49:01.368Z"
updatedAt: "2018-04-24T12:14:09.699Z"
type: "MARKDOWN_NOTE"
folder: "45b0680f0adbe2a3da40"
title: "- Git -"
content: '''
  <div align="center">
  
  # - Git -
  ### With Github.com
  </div>
  
  >#### Clone Repo
  >>      git clone https://github.com/Morfeu5z/Cat.git
  >
  >#### Pull
  >>      git pull
  >>Pozwala pobrać najnowszą wersję z githuba
  >
  >#### Force pull
  >>      git reset --hard origin/<branch_name>
  >>W ten sposób można wymusić zmianę Repo na maszynie lokalnej na kod z githuba. Wcześniej musimy być w folderze z projektem.
  >
  >#### Status
  >>      git status
  >>Pozwala na sprawdzenie które pliki są śledzone i zmieniane.
  >
  >#### Śledzenie plików
  >>      git add -A
  >>Dodaje wszystkie pliki w obecnym katalogu do śledzenia wersji
  >>
  >>      git add app.py
  >>Taki zazpis pozwala dodać konkretne pliki do śledzenia.
  >>
  >>      git reset
  >>Resetuje śledzenie wersji plików
  >>
  >>      touch .gitignore
  >>Gitignore to plik wskazujący, które pliki nie będą sprawdzane.
  >>      
  >#### Gałęźie
  >>      git branch
  >>Wyświetli dostępne gałązki
  >>
  >>      git checkout mojagalaz
  >>W ten sposób zmieniasz gałąź
  >
  >#### Commit
  >>      git commit -m 'New update'
  >>Pozwala na dodanie commita ale nie robi pusha.
  >
  >#### Push
  >>      git push MyProject master
  >>Wykona się wysłanie nowej wersji na github'a na gałąź master
  >
'''
tags: []
isStarred: false
isTrashed: false
