createdAt: "2019-01-23T09:18:27.446Z"
updatedAt: "2019-01-23T09:20:33.421Z"
type: "MARKDOWN_NOTE"
folder: "c96688e4cfbae92b9ea3"
title: "PWSZ Nysa - konfiguracja Poczty na Win 10"
tags: []
content: '''
  # PWSZ Nysa - konfiguracja Poczty na Win 10
  
  Email:    s22421@st.pwsz.nysa.pl
  Hasło:    wdupetrzasło
  Nazwa:  s22421
  Nazwa konta: PWSZ
  Typ: POP3
  Serwer przychodzącej i wychodzącej: st.pwsz.nysa.pl
'''
isStarred: false
isTrashed: false
