createdAt: "2018-05-07T19:13:19.400Z"
updatedAt: "2018-05-18T13:25:23.937Z"
type: "MARKDOWN_NOTE"
folder: "45b0680f0adbe2a3da40"
title: "- Windows 10 -"
content: '''
  <div align='center'>
  
  # - Windows 10 -
  
  <div align='justify'>
  
  ### Cheet Sheet:
  >#### Centrum akcji
  >>      windows + A
  >>Otwiera panel z centrum akcji.
  >>
  >#### Menedżel pulpitów i okienek
  >>      windows + Tab
  >> Otwiera menu pulpitów wirtualnych oraz okien
  >
'''
tags: [
  "windows"
]
isStarred: false
isTrashed: false
